@model ComputerStore.Models.LocalPasswordModel
@{
    ViewBag.Title = "Cambio Password usuario : ";
}

<hgroup class="title">
    <h1>@ViewBag.Title<strong>@User.Identity.Name</strong></h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>
 

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Añadir un login externo</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
